body {
    background-image: url('bg2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: rgb(103, 98, 98);
    word-spacing: 5px;
    letter-spacing: 1px;

    
   


}




.container {
    height: 98vh;
    overflow: scroll;
    

}

#play-button {
    background-color: black;
    border: black solid 1px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(103, 98, 98);
    letter-spacing: 1px;
    padding: 0;
    
    

}

#pause-button {
    background-color: black;
    border: black solid 1px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(103, 98, 98);
    letter-spacing: 1px;
    display: none;
    padding: 0;

}


a {
    color: rgb(103, 98, 98);
}
